In [1]:
# mlp for multi-label classification
from numpy import mean
from numpy import std
from numpy import asarray
from sklearn.datasets import make_multilabel_classification
from sklearn.model_selection import RepeatedKFold
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import accuracy_score

import pandas as pd

In [2]:
# get the model
def get_model(n_inputs, n_outputs):
    model = Sequential()
    model.add(Dense(20, input_dim=n_inputs, kernel_initializer='he_uniform', activation='relu'))
    model.add(Dense(n_outputs, activation='sigmoid'))
    model.compile(loss='binary_crossentropy', optimizer='adam')
    return model

In [3]:
# evaluate a model using repeated k-fold cross-validation
def evaluate_model(X, y):
    results = list()
    n_inputs, n_outputs = X.shape[1], y.shape[1]
    # define evaluation procedure
    cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
    # enumerate folds
    for train_ix, test_ix in cv.split(X):
        # prepare data
        X_train, X_test = X[train_ix], X[test_ix]
        y_train, y_test = y[train_ix], y[test_ix]
        # define model
        model = get_model(n_inputs, n_outputs)
        # fit model
        model.fit(X_train, y_train, verbose=0, epochs=100)
        # make a prediction on the test set
        yhat = model.predict(X_test)
        # round probabilities to class labels
        yhat = yhat.round()
        # calculate accuracy
        acc = accuracy_score(y_test, yhat)
        # store result
        print('>%.3f' % acc)
        results.append(acc)
    return results

In [4]:
# read data
df = pd.read_excel("menu_data(2).xlsx")
df.head()

,메뉴,빵,치즈,소스,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,5,5,1,"['1', '3', '5']",1,0,1,0,1,0,0,0,0,0,0,0,0,0,0
1,18,2,3,"['1', '3', '4']",1,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2,15,1,1,"['4', '10']",0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
3,16,5,2,"['2', '6', '14']",0,1,0,0,0,1,0,0,0,0,0,0,0,1,0
4,4,1,4,"['10', '12', '13']",0,0,0,0,0,0,0,0,0,1,0,1,1,0,0

In [5]:
X = df[['메뉴']]
X = X.to_numpy()
X, X.shape

(array([[ 5],
        [18],
        [15],
        [16],
        [ 4],
        [10],
        [ 8],
        [ 7],
        [17],
        [ 6],
        [14],
        [11],
        [12],
        [13],
        [ 9]], dtype=int64),
 (15, 1))

In [6]:
y = df.iloc[:, 4:]
y = y.to_numpy()
y, y.shape

(array([[1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
        [0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
        [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
        [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
        [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
        [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
        [1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0]], dtype=int64),
 (15, 15))

In [7]:
# evaluate model
results = evaluate_model(X, y)

1/1 [==============================] - 0s 171ms/step
>0.000
1/1 [==============================] - 0s 102ms/step
>0.000
1/1 [==============================] - 0s 101ms/step
>0.000
1/1 [==============================] - 0s 102ms/step
>0.000
WARNING:tensorflow:5 out of the last 5 calls to <function Model.make_predict_function.<locals>.predict_function at 0x000001F36508F0D0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 0s 105ms/step
>0.000
WARNING:tensorflow:6 out of the last 6 calls to <function Model.make_predict_function.<locals>.predict_function at 0x000001F365298CA0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 0s 105ms/step
>0.000
1/1 [==============================] - 0s 102ms/step
>0.000
1/1 [==============================] - 0s 101ms/step
>0.000
1/1 [==============================] - 0s 103ms/step
>0.000
1/1 [==============================] - 0s 101ms/step
>0.000
1/1 [==============================] - 0s 102ms/step
>0.000
1/1 [==============================] - 0s 102ms/step
>0.000
1/1 [==============================] - 0s 101ms/step
>0.000
1/1 [==============================] - 0s 121ms/step
>0.000
1/1 [==============================] - 0s 132ms/step
>0.000
1/1 [==============================] - 0s 100ms/step
>0.000
1/1 [==============================] - 0s 136ms/step
>0.000
1/1 [==============================] - 0s 102ms/step
>0.000
1/1 [==============================] - 0s 100ms/step
>0.000
1/1 [==============================] - 0s 100ms/step
>0.000
1/1 [==============================] - 0s 102ms/step
>0.000
1/1 [==============================] - 0s 100ms/step
>0.000
1/1 [==============================] - 0s 101ms/step
>0.000
1/1 [==============================] - 0s 103ms/step
>0.000
1/1 [==============================] - 0s 122ms/step
>0.000
1/1 [==============================] - 0s 110ms/step
>0.000
1/1 [==============================] - 0s 100ms/step
>0.000
1/1 [==============================] - 0s 128ms/step
>0.000
1/1 [==============================] - 0s 101ms/step
>0.000
1/1 [==============================] - 0s 101ms/step
>0.000

In [26]:
# summarize performance
print('Accuracy: %.3f (%.3f)' % (mean(results), std(results)))

Accuracy: 0.034 (0.015)

In [8]:
n_inputs, n_outputs = X.shape[1], y.shape[1]
# get model
model = get_model(n_inputs, n_outputs)
# fit the model on all data
model.fit(X, y, verbose=0, epochs=100)

In [10]:
# make a prediction for new data
newX = [[5]]
yhat = model.predict(newX)
print('Predicted: %s' % yhat[0])

1/1 [==============================] - 0s 78ms/step
Predicted: [3.7698704e-01 2.6508817e-01 4.0659237e-01 4.6662629e-01 2.4069209e-01
 2.6728839e-01 7.0769943e-02 1.5415312e-03 5.2862155e-01 3.2308474e-01
 2.8386953e-01 1.3800830e-01 9.4615209e-01 3.5933962e-01 1.9374102e-05]